<div class="row">
  <div class="col-md-12 bg-white text-secondary">
    <div class="row">
      <input class="col-md-5 btn btn-light mx-2 my-2 text-left filter-title" id="search" type="text" placeholder="Search..." />
      <input class="col-md-2 btn btn-secondary mx-2 my-2 filter-watched" id="watched" type="submit" value="Watched"/>
      <input class="col-md-2 btn btn-secondary mx-2 my-2 filter-towatch" id="towatch" type="submit" value="To Watch"/>
      <input class="col-md-1 btn btn-secondary mx-2 my-2 filter-clear" id="clear" type="submit" value="Clear" />
    </div>
  </div>
</div>